.featured-products {
    margin: 100px 200px;
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        h1 {
            flex: 2;
            text-transform: capitalize;
        }
        p {
            flex: 3;
            color: gray;
        }
    }
    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

@media screen and (max-width: 830px) {
    .featured-products {
        width: 100%;
        margin: 100px 10px;
        .top {
            flex-direction: column;
            flex: auto;
        }
        .bottom {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}