.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2879fe;
    color: white;
    padding: 15px;
    .wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mail {
            input {
                padding: 10px;
                border: none;
                border-radius: 5px 0 0 5px;
            }
            button {
                padding: 10px;
                color: white;
                background-color: #333;
                border-radius: 0 5px 5px 0;
                border: none;
            }
        }
        .icons {
            display: flex;
            gap: 10px;
        }
    }
}

@media screen and (max-width:830px) {
    .contact {
        .wrapper {
            width: 100%;
            flex-wrap: wrap;
            gap: 1rem;
            .mail {
                width: 100%;
                input {
                    width: 70%;
                }
            }
        }
    }
}