.products {
    display: flex;
    padding: 30px 50px;
    .filters {
        // flex: 1;
        display: block;
        padding-right: 1rem;
        // #filters-input {
        //     display: none;
        // }
        .filters-txt {
            justify-content: center;
            align-items: center;
            padding: 0.8rem;
            display: block;
            font-size: 1.4rem;
            text-align: center;
            background-color: #2879fe;
            color: white;
            margin-bottom: 1rem;
        }
        .left {
            flex: 1;
            height: 100%;
            position: sticky;
            top: 50px;
            .filterItem {
                margin-bottom: 30px;
                h2 {
                    font-weight: 400;
                    margin-bottom: 20px;
                }
                .inputItem {
                    margin-bottom: 10px;
                    label {
                        margin-left: 10px;
                    }
                }
            }
            // #filters-input:checked+& {
            //     display: none;
            // }
        }
    }
    .right {
        flex: 3;
        .categoryImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 830px) {
    .products {
        flex-direction: column;
        #filters-input {
            &:checked {
                +.left {
                    display: none;
                }
            }
        }
        // .left {
        //     flex: auto;
        //     display: block;
        //     // #filters-input:checked+& {
        //     //     display: block;
        //     // }
        // }
    }
}